*{
     margin :0;
     padding : 0;
     box-sizing: 0;
     font-family: 0;
}

 body{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: url(background.jpg) no-repeat;
      background-size: cover; 
      background-position: center;
}

header{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 20px 100px;

     display: fixed;
     justify-content: flex;
     align-items: center;
     z-index: 99;

}